[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=xhost +
Icon=scratch
Exec=bash /home/pi/Dexter/GoPiGo3/Software/Scratch/start_local_scratch.sh
Terminal=false
Name=Scratch for GoPiGo3
Comment= Programming system and content development tool
Categories=Development;
MimeType=application/x-scratch-project
