{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "indent": [
        "error",
        4
    ],
    "quote-props": ["error", "consistent"],
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-continue": 0,
    "no-multi-spaces": 0,
    "no-bitwise": 0,
    "no-self-compare": 0,
    "class-methods-use-this": 0,
    "no-mixed-operators": 0,
    "max-len": 0
  }
}
